h2, p {
    font-size: 22px;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Narrow'), url('ARIALN.woff') format('woff');
}

.fadeOut {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.fadeIn {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

a {
    -webkit-transition: all .5s;
    transition: all .5s;
}

a:link { 
    text-decoration: none; 
    color: black;
  } 
  a:visited { 
    text-decoration: none; 
    color: black;
  } 
  a:hover { 
    text-decoration: none; 
    color: #ff00ff;
  } 
  a:active { 
    text-decoration: none; 
    color: #ff00ff;
  }

.activeLink {
    position: fixed;
    left: 1%;
    color: #ff00ff;
}

.highlight {
    color: #ff00ff;
}

figcaption {
    font-family: 'Arial Narrow', sans-serif;
    color: #ff00ff;
}

.blur {
   color: transparent;
/*    text-shadow: 0 0 15px rgba(255, 0, 255, 1); */
    text-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.link {
    position: fixed;
    left: 1%;
}

.link-out {
    text-decoration: underline;
    color: #ff00ff;
}

.link-out:hover {
    text-decoration: underline;
}

#syllabus_link1 {
    top: 0%;
}

#syllabus_link2 {
    top: 30%;
}

#syllabus_link3 {
    top: 60%;
}

#syllabus_link4 {
    top: 90%;
}

.right-column {
    position: absolute;
    top: 0%;
    left: 50vw;
    max-width: 48vw;
}

#syllabus_section1, #syllabus_section2, #syllabus_section3, #syllabus_section4 {
    opacity: 1;
    color: black;
}

#syllabus_section1B, #syllabus_section2B, #syllabus_section3B {
    position: fixed;
    opacity: 0.05;
}

img {
    width: 15vw;
}

.large-img {
    width: 30vw;
}

.wrap {
    float: right; 
    /* position: absolute; */
    margin: 0px 0px 0px 15px;
   }

.wrap2 {
    float: left; 
    /* position: absolute; */
    margin: 0px 15px 0px 0px;
   }

.fig-padding {
    margin: 0px 0px 15px 0px;
}

@media only screen and (max-width: 900px) {
    .right-column {
        top: 30%;
        left: 2%;
        min-width: 97vw;
        padding: 5px;
    }
    
    h2, p {
        font-size: 42px;
    }
    .activeLink, .link {
        position: relative;
        left: 1%;
    }
    #syllabus_link1 {
        top: 0%;
    }
    
    #syllabus_link2 {
        top: 5%;
    }
    
    #syllabus_link3 {
        top: 10%;
    }
    
    #syllabus_link4 {
        top: 15%;
    }

    img {
        width: 35vw;
    }

    .wrap {
        float: right;
        margin: 0px 15px 0px 15px;
    }

    figcaption {
        font-size: 25px;
    }
}

@media only screen and (orientation: portrait)
{
    .right-column {
        top: 30%;
        left: 2%;
        min-width: 97vw;
        padding: 5px;
    }
    
    h2, p {
        font-size: 42px;
    }
    .activeLink, .link {
        position: relative;
        left: 1%;
    }
    #syllabus_link1 {
        top: 0%;
    }
    
    #syllabus_link2 {
        top: 5%;
    }
    
    #syllabus_link3 {
        top: 10%;
    }
    
    #syllabus_link4 {
        top: 15%;
    }

    img {
        width: 35vw;
    }

    .wrap {
        float: right;
        margin: 0px 15px 0px 15px;
    }

    figcaption {
        font-size: 25px;
    }
}
